<form action="/addnews" method="post">
    <input type="text" name="title" placeholder="Title" id="">
    <input type="text" name="img" placeholder="Image URL">
    <textarea name="content" id="" cols="30" rows="10"></textarea>
    <input type="text" name="author" placeholder="author" id="">
    <input type="submit" value="Post">
</form>