
.match
{
    color:black;
}

.gwrap{
  display:flex;
  justify-content:center;
}
.ground{
  background-color: green;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top-right-radius: 25%;
  border-top-left-radius: 25%; */
}
.cercel{
  height: 120px;
  width: 120px;
  border:1px dotted white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wicket{
  height: 40px;
  width: 15px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#ball{
  height: 5px;
  width: 5px;
  border-radius: 50%;
  position: absolute;
  background-color: red;
}
.filder{
  background-color: white;
  height: 5px;
  width: 5px;
  position: absolute;
  border-radius: 50%;
}
#f1{
  top: 50px;
  right: -90px;
  
}
#f2{
  top: -50px;
  right: 90px;
  
}
#f3{
  top: 60px;
  right: 40px;
  
}
#f4{
  top: 60px;
  left: 40px;
  
}
#f5{
  top: -25px;
  left: 40px;
  
}
#f6{
  top: -25px;
  right: 40px;
  
}
#f7{
  top: 120px;
  left: 65px;
  
  
}
#f8{
  top: 120px;
  right: 65px;
}
#f9{
  top: 10px;
  right: 100px;
  
}


/* Midwicket */

@keyframes midwiket-ball{
  0%{
    top: 0;
    left: 0;
  }
  50%{
    top: 100px;
    left: 40px;
  }
  100%{
    top: 0;
    left: 0;
  }
}

@keyframes midwiket-ball-boundary{
  0%{
    top: 0;
    left: 0;
  }
  50%{
    top: 140px;
    left: 70px;
  }
  100%{
    top: 0;
    left: 0;
  }
}

@keyframes midwiket-filder{
  0%{
  top: 120px;
  left: 65px;
  }
  50%{
    top: 100px;
    left: 40px;
  }
  100%{
  top: 120px;
  left: 65px;
  }
}

/* Extracover */


@keyframes deepExtracover-ball {
  0%{
    top: 0;
    left: 0;
  }
  50%{
    top: 100px;
    left: -40px;
  }
  100%{
    top: 0;
    left: 0;
  }
}

@keyframes deepExtracover-filder{
  0%{
  top: 120px;
  left: -65px;
  }
  50%{
    top: 100px;
    left: -40px;
  }
  100%{
  top: 120px;
  left: -65px;
  }
}


@keyframes deepExtracover-ball-boundary{
  0%{
    top: 0;
    left: 0;
  }
  50%{
    top: 140px;
    left: -70px;
  }
  100%{
    top: 0;
    left: 0;
  }
}

/* Thirdman */

@keyframes thirdman-ball {
  0%{
    top: 0;
    left: 0;
  }
  50%{
    top: -60px;
    left: -60px;
  }
  100%{
    top: 0;
    left: 0;
  }
}

@keyframes thirdman-filder{
  0%{
  top: -50px;
  right: 90px;
  }
  50%{
    top: -60px;
    left: -60px;
  }
  100%{
  top: -50px;
  right: 90px;
  }
}


@keyframes thirdman-ball-boundary{
  0%{
    top: 0;
    left: 0;
  }
  50%{
    top: -160px;
    left: -150px;
  }
  100%{
    top: 0;
    left: 0;
  }
}


/* squreLeg */


@keyframes squreLeg-ball {
  0%{
    top: 0;
    left: 0;
  }
  50%{
  top: 35px;
  left: 90px;
  }
  100%{
    top: 0;
    left: 0;
  }
}

@keyframes squreLeg-filder{
  0%{
  top: 50px;
  right: -90px;
  }
  50%{
  top: 35px;
  right: -85px;
  }
  100%{
  top: 50px;
  right: -90px;
  }
}


@keyframes squreLeg-ball-boundary{
  0%{
    top: 0;
    left: 0;
  }
  50%{
  top: 35px;
  left: 150px;
  }
  100%{
    top: 0;
    left: 0;
  }
}


/* point */



@keyframes  point-ball {
  0%{
    top: 0;
    left: 0;
  }
  50%{
  top: 40px;
  left: -80px;
  }
  100%{
    top: 0;
    left: 0;
  }
}

@keyframes  point-filder{
  0%{
  top: 10px;
  right: 100px;
  }
  50%{
  top: 40px;
  right:90px;
  }
  100%{
  top: 10px;
  right: 100px;
  }
}


@keyframes  point-ball-boundary{
  0%{
    top: 0;
    left: 0;
  }
  50%{
  top: 40px;
  left: -130px;
  }
  100%{
    top: 0;
    left: 0;
  }
}


/* midOff */

@keyframes  midOff-ball {
  0%{
    top: 0;
    left: 0;
  }
  50%{
  top: 50px;
  left :-40px;
  }
  100%{
    top: 0;
    left: 0;
  }
}

@keyframes  midOff-filder{
  0%{
  top: 60px;
  right: 40px;
  }
  50%{
  top: 55px;
  right: 55px;
  }
  100%{
  top: 60px;
  right: 40px;
  }
}


@keyframes  midOff-ball-boundary{
  0%{
    top: 0;
    left: 0;
  }
  50%{
  top: 120px;
  left :-120px;
  }
  100%{
    top: 0;
    left: 0;
  }
}



/* midOn */

@keyframes  midOn-ball {
  0%{
    top: 0;
    left: 0;
  }
  50%{
  top: 50px;
  left :40px;
  }
  100%{
    top: 0;
    left: 0;
  }
}

@keyframes  midOn-filder{
  0%{
  top: 60px;
  left: 40px;
  }
  50%{
  top: 55px;
  right: 55px;
  }
  100%{
  top: 60px;
  left: 40px;
  }
}


@keyframes  midOn-ball-boundary{
  0%{
    top: 0;
    left: 0;
  }
  50%{
  top: 120px;
  left :120px;
  }
  100%{
    top: 0;
    left: 0;
  }
}


/* fineLeg */

@keyframes  fineLeg-ball {
  0%{
    top: 0;
    left: 0;
  }
  50%{
  top: -25px;
  left: 40px;
  }
  100%{
    top: 0;
    left: 0;
  }
}

@keyframes  fineLeg-filder{
  0%{
  top: -25px;
  left: 40px;
  }
  50%{
  top: -25px;
  left: 40px;
  }
  100%{
  top: -25px;
  left: 40px;
  }
}


@keyframes  fineLeg-ball-boundary{
  0%{
    top: 0;
    left: 0;
  }
  50%{
  top: -55px;
  left: 120px;
  }
  100%{
    top: 0;
    left: 0;
  }
}


/* gully */



@keyframes  gully-ball {
  0%{
    top: 0;
    left: 0;
  }
  50%{
  top: -25px;
  left: -10px;
  }
  100%{
    top: 0;
    left: 0;
  }
}

@keyframes  gully-filder{
  0%{
  top: -25px;
  right: 40px;
  }
  50%{
  top: -25px;
  left: -10px;
  }
  100%{
  top: -25px;
  right: 40px;
  }
}


@keyframes  gully-ball-boundary{
  0%{
    top: 0;
    left: 0;
  }
  50%{
  top: -155px;
  left: -20px;
  }
  100%{
    top: 0;
    left: 0;
  }
}
